flask
flask-socketio
flask-cors
opencv-python
mediapipe
tensorflow
protobuf
numpy
eventlet
torch
torchvision
torchaudio
lightning
langdetect
ipython
unidecode
librosa
amfm_decompy
matplotlib
gdown
inflect
tensorboard
