flask
flask-socketio
flask-cors
opencv-python
mediapipe==0.10.11
tensorflow
protobuf
numpy<2.0.0
eventlet
torch
torchvision
torchaudio
lightning
langdetect
ipython
unidecode
librosa
amfm_decompy
matplotlib
gdown
inflect
tensorboard
webrtcvad-wheels==2.0.14
soundfile
scipy
scikit-learn
requests
